---
import { SiLinkedin, SiX, SiGithub } from "@icons-pack/react-simple-icons";
import { formatDuration, intervalToDuration } from "date-fns";
import LiveDuration from "../components/LiveDuration.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import ProfileImage from "../images/profile.jpeg";

import ProjectItem from "../components/ProjectItem.astro";

import BaseLayout from "../layouts/Base.astro";
import { compareByDate, df, formatDurationShort } from "../utils";

let companies = await getCollection("companies", (p) => !p.data.draft);
companies = companies.sort(compareByDate);

let projects = await getCollection("projects", (p) => p.data.featured);
projects = projects.sort(compareByDate);
---

<BaseLayout>
  <section class="mt-20 lg:mt-28">
    <div class="flex items-center gap-x-4">
      <Image
        class="h-24 w-24 rounded-full"
        width="180"
        height="180"
        src={ProfileImage}
        alt="profile"
      />
      <div>
        <div class="text-xs text-muted">Hi there, I’m</div>
        <h1 class="font-recoleta text-3xl text-emphasis">Nauman Umer</h1>
        <div class="text-sm">Web Developer in Lahore Pakistan</div>
      </div>
    </div>

    <div class="prose mt-10">
      <p>
        Hi there, I'm a web developer. I love building and rebuilding programs
        using color, fonts, and illustrations.
      </p>
      <p>
        I'm a great admirer of attention to detail and beautifully crafted
        designs that not only look exceptional but also are easy to use. I
        specialize in creating user interfaces and user experiences utilizing
        the latest web technologies.
      </p>
      <p>
        I'm passionate about helping others, and I'm always looking for an
        opportunity to help someone out.
      </p>
    </div>

    <div class="mt-5 flex items-center space-x-3">
      <a
        href="https://x.com/nmanumr"
        class="flex items-center gap-x-2 rounded-full bg-subtle px-2.5 py-0.5 text-sm no-underline"
      >
        <SiX color="default" size="14" />
        nmanumr
      </a>
      <a
        href="https://github.com/nmanumr"
        class="flex items-center gap-x-2 rounded-full bg-subtle px-2.5 py-0.5 text-sm no-underline"
      >
        <SiGithub color="default" size="14" />
        nmanumr
      </a>
      <a
        href="https://linkedin.com/in/nmanumr"
        class="flex items-center gap-x-2 rounded-full bg-subtle px-2.5 py-0.5 text-sm no-underline"
      >
        <SiLinkedin color="default" size="14" />
        nmanumr
      </a>
    </div>
  </section>

  <section class="mt-32">
    <h2 class="font-recoleta text-2xl text-emphasis">Where I’ve worked.</h2>

    <div class="mt-8 space-y-12">
      {
        companies.map(async (company) => {
          const { Content } = await company.render();
          return (
            <div class="group relative flex">
              <div class="shrink-0 px-px">
                <Image
                  class="mt-2.5 h-12 w-12 rounded"
                  width="100"
                  height="100"
                  src={company.data.logo}
                  alt={company.data.name}
                />
              </div>
              <div class="ml-8">
                <div class="text-sm font-medium text-muted">
                  {df.format(company.data.startDate)}
                  {" — "}
                  {company.data.endDate
                    ? df.format(company.data.endDate)
                    : "Now"}
                  {" · "}
                  <LiveDuration
                    startDate={company.data.startDate}
                    endDate={company.data.endDate}
                  />
                </div>
                <div class="font-medium text-emphasis">
                  <a class="accent" href={`/${company.slug}`}>
                    <span class="absolute -inset-x-4 -inset-y-2.5 hidden rounded md:-inset-x-6 md:-inset-y-4 lg:block" />
                    <span>{company.data.title}</span>
                  </a>{" "}
                  ·{" "}
                  <a class="relative" href={company.data.url} target="_blank">
                    {company.data.name}
                  </a>
                </div>
                <div class="prose mt-2">
                  <Content />
                </div>
              </div>
            </div>
          );
        })
      }
    </div>
  </section>

  <section class="mt-32">
    <h2 class="font-recoleta text-2xl text-emphasis">
      Things I've been working on.
    </h2>

    <div class="mt-8 space-y-12">
      {projects.map((project) => <ProjectItem slug={project.slug} />)}
    </div>
  </section>

  <section class="mt-32">
    <h2 class="font-recoleta text-2xl text-emphasis">Contact Me.</h2>
    <div class="prose mt-2">
      <p>
        Reach me at <a href="http://x.com/nmanumr">@nmanumr</a> or <a
          href="mailto:nmanumr@gmail.com">nmanumr@gmail.com</a
        >.
      </p>
    </div>
  </section>

  <div class="pt-20 lg:pt-28"></div>
</BaseLayout>
