---
import {SiLinkedin, SiX, SiGithub} from '@icons-pack/react-simple-icons';
import {Image} from 'astro:assets';
import {getCollection, getEntry} from 'astro:content';

import BaseLayout from '../layouts/Base.astro';

import ProfileImage from '../images/profile.jpeg';

const df = new Intl.DateTimeFormat(undefined, {
  month: 'short',
  year: 'numeric',
});

const compareByDate = (a, b) =>
  +(b.data.endDate ?? b.data.startDate) -
  +(a.data.endDate ?? a.data.startDate);

let companies = await getCollection('companies', (p) => !p.data.draft);
companies = companies.sort(compareByDate);

let projects = await getCollection('projects', (p) => p.data.featured);
projects = projects.sort(compareByDate);
---

<BaseLayout title="Nauman Umer" description="">
  <section class="mt-20 lg:mt-28">
    <div class="flex items-center gap-x-4">
      <Image
          class="rounded-full w-24 h-24"
          width="180"
          height="180"
          src={ProfileImage}
          alt="profile"
      />
      <div>
        <div class="text-xs text-muted">Hi there, I’m</div>
        <h1 class="font-recoleta text-3xl text-emphasis">Nauman Umer</h1>
        <div class="text-sm">Web Developer in Lahore Pakistan</div>
      </div>
    </div>

    <div class="mt-10 prose">
      <p>
        Hi there, I'm a web developer. I love building and rebuilding programs
        using color, fonts, and illustrations.
      </p>
      <p>
        I'm a great admirer of attention to detail and beautifully crafted
        designs that not only look exceptional but also are easy to use. I
        specialize in creating user interfaces and user experiences utilizing
        the latest web technologies.
      </p>
      <p>
        I'm passionate about helping others, and I'm always looking for an
        opportunity to help someone out.
      </p>
    </div>

    <div class="flex items-center mt-5 space-x-3">
      <a
          href="https://x.com/nmanumr"
          class="flex items-center text-sm bg-subtle rounded-full px-2.5 py-0.5 gap-x-2 no-underline"
      >
        <SiX color="default" size="14" />
        nmanumr
      </a>
      <a
          href="https://github.com/nmanumr"
          class="flex items-center text-sm bg-subtle rounded-full px-2.5 py-0.5 gap-x-2 no-underline"
      >
        <SiGithub color="default" size="14" />
        nmanumr
      </a>
      <a
          href="https://linkedin.com/in/nmanumr"
          class="flex items-center text-sm bg-subtle rounded-full px-2.5 py-0.5 gap-x-2 no-underline"
      >
        <SiLinkedin color="default" size="14" />
        nmanumr
      </a>
    </div>
  </section>

  <section class="mt-32">
    <h2 class="text-emphasis font-recoleta text-2xl">
      Companies I have worked with.
    </h2>

    <div class="mt-8 space-y-12">
      {
        companies.map(async (company) => {
          const {Content} = await company.render();
          return (
              <div class="flex">
                <div class="px-px shrink-0">
                  <Image
                      class="rounded-full w-12 h-12 mt-2.5"
                      width="100"
                      height="100"
                      src={company.data.logo}
                      alt="profile"
                  />
                </div>
                <div class="ml-8">
                  <div class="font-medium text-muted text-sm">
                    {df.format(company.data.startDate)} -{' '}
                    {company.data.endDate
                      ? df.format(company.data.endDate)
                      : 'Now'}
                  </div>
                  <div class="font-medium text-emphasis">
                    {company.data.title} · <a href={company.data.url} target="_blank">{company.data.name}</a>
                  </div>
                  <div class="prose mt-2">
                    <Content />
                  </div>
                </div>
              </div>
          );
        })
      }
    </div>
  </section>

  <section class="mt-32">
    <h2 class="text-emphasis font-recoleta text-2xl">
      Things I have been working on.
    </h2>

    <div class="mt-8 space-y-12">
      {
        projects.map(async (project) => {
          const {Content} = await project.render();
          const company = project.data.company
            ? await getEntry(project.data.company!)
            : undefined;

          return (
              <div class="flex">
                <div class="text-muted font-medium text-sm w-20 pt-0.5 shrink-0">
                  {project.data.endDate ? df.format(project.data.endDate) : 'Ongoing'}
                </div>
                <div class="ml-0.5">
                  <h3 class="text-emphasis font-medium">
                    <span >{project.data.title}</span>
                    {company ?
                        <> @ <a href={`${company.data.url}`}>{company.data.name}</a></> : ''}
                  </h3>
                  <div class="prose mt-2">
                    <Content />
                  </div>
                </div>
              </div>
          );
        })
      }
    </div>
  </section>

  <section class="mt-32">
    <h2 class="text-emphasis font-recoleta text-2xl">Contact Me.</h2>
    <div class="mt-2 prose">
      <p>
        Reach me at <a href="http://x.com/nmanumr">@nmanumr</a> or <a
          href="mailto:nmanumr@gmail.com">nmanumr@gmail.com</a
      >.
      </p>
    </div>
  </section>

  <div class="pt-20 lg:pt-28"></div>
</BaseLayout>
