---
import BaseLayout from "../layouts/Base.astro";

let projects = [/*{
	name: "Working at Objex, Inc.",
	url: '/work/objex',
	image: "/images/objex.png",
	description: "At Objex, Inc. I worked remotely as UI/UX Engineer on their product named Rabbito, a social microblogging platform."
},*/ {
	name: "Maze Puzzle",
	url: '/projects/maze-puzzle',
	image: "/images/mazes101.png",
	description: "Mazes101 provides a set of utilities that can be used to generate, render and hack with any kind of maze."
}, {
	name: "Class Resources",
	url: '/projects/class-resources',
	image: "/images/classresources.png",
	description: "An app that provides a platform to share class learning resources especially for COMSATS Students."
}, {
	name: "Some Logos / Icons I designed",
	url: '/projects/logos',
	image: "/images/logos.png",
	description: "I'm not that good at icons / logos designing but I always like to push my boundaries. Here are some of my designs."
}, /*{
	name: "EasyBasic IDE",
	url: '/projects/easybasic',
	image: "https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3452&q=80",
	description: "A desktop IDE for GWBASIC. Supports GW-BASIC syntax highlighting, IntelliSense, program execution, built-in documentation, code examples."
}*/]
---

<BaseLayout title="Nauman Umer" description="">

	<section class="min-h-[calc(100vh-64px)] md:min-h-[calc(100vh-81px)] py-20 flex items-center" id="welcome">
		<div class="container prose prose-sm sm:prose">
			<div class="max-w-2xl">
				<div>
					<a href="#welcome" class="section-title">Welcome</a>
					<h1 class="title">Nauman Umer.</h1>
					<p class="font-sans text-sm subtitle opacity-75">@nmanumr</p>

					<p class="text-justify">
						Hi there, I'm a web developer. I love building and rebuilding programs using
						color, fonts, and illustrations.
					</p>
					<p class="text-justify">
						I'm a great admirer of attention to detail and beautifully crafted designs that not only look exceptional
						but also are easy to use. I specialize in creating user interfaces and user experiences utilizing
						the latest web technologies.
					</p>
					<p class="text-justify">
						I'm passionate about helping others, and I'm always looking for an opportunity to help someone out.
					</p>

					<p>
						<a href="#contact" class="underline arrow">
							Contact Me
						</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-16" id="expertise">
		<div class="container prose prose-sm sm:prose">
			<a href="#expertise" class="section-title">Expertise</a>
			<h2 class="title">Things I'm good at.</h2>
			<p class="text-sm subtitle"></p>

			<p class="max-w-2xl text-justify">
				I am a creative, enthusiastic, and ambitious developer with expertise in user interface design.
				I am passionate about creating simple and elegant solutions that make complex tasks easy for users to execute.
			</p>

			<div class="grid md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-8">
				<div>
					<h4>Languages</h4>
					<p class="text-justify">
						I mostly work with javascript/typescript and feel myself quite good at web
						technologies like HTML/CSS and javascript. But, I also have worked with
						Python, Java, C/C++ and a bit of rust.
					</p>
				</div>
				<div>
					<h4>Frameworks</h4>
					<p class="text-justify">
						I look at frameworks as just a tool to get things done and thats why I am always
						open to different frameworks. Some of the technologies I have worked with include,
						Angular, Vue, React, Alpine, TailwindCss, Bootstrap, JQuery, Django, Scrappy.
					</p>
				</div>
				<div>
					<h4>Platforms &amp; Tools</h4>
					<p class="text-justify">
						Some of the platforms &amp; tools I use regularly include Figma, Git,
						Postman, VsCode, WebStrom, Docker, PyCharm, WebStrom, Latex. I use MacOS as
						primary OS but had been a great admirer of Linux for long time. 
					</p>
				</div>
			</div>
		</div>
	</section>

	<section class="py-16" id="projects">
		<div class="container prose prose-sm sm:prose">
			<a href="#projects" class="section-title">Experience &amp; Projects</a>
			<h2 class="title">Things I've been working on.</h2>
			<p class="text-sm subtitle"></p>

			<p class="max-w-2xl text-justify">
				I prefer to keep myself active and am always working on a new project.
				Take a peek at some of the recent things I had been working on.
			</p>

			<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12 mt-12 max-w-md md:max-w-full mx-auto">
				{projects.map((project) => (
				<div class="flex flex-col space-y-6">
					<div class="w-full shrink-0">
						<a href={project.url} class="block aspect-w-16 aspect-h-9">
							<img class="object-cover rounded border border-gray-200 !m-0" src={project.image} />
						</a>
					</div>
					<div class="grow flex flex-col">
						<h4 class="!mt-0"><a class="!no-underline" href={project.url}>{project.name}</a></h4>
						<p class="text-justify line-clamp-4 grow">
							{project.description}
						</p>
						<div>
							<a href={project.url} class="underline arrow">
								Learn More
							</a>
						</div>
					</div>
				</div>
				))}
			</div>

			<!-- <p class="text-right pr-10 md:!mt-12">
				<a href="/projects" class="underline arrow">
					View All Projects
				</a>
			</p> -->
		</div>
	</section>

	<section class="py-16" id="contact">
		<div class="container container-md prose prose-sm sm:prose">
			<a href="#contact" class="section-title">Contact Me</a>
			<h2 class="title">Let's build somthing<br>Incredible Together.</h2>
			<p class="text-sm subtitle"></p>

			<div class="grid md:grid-cols-2 gap-x-12 space-y-10 md:space-y-0">
				<div>
					<p class="max-w-md text-justify">
						Feel free to reach out if you're looking for a developer,
						have a question, or just want to connect.
					</p>

					<div class="mt-10 space-y-4 flex flex-col">
						<div>
							<a href="#" class="inline-flex items-center space-x-4 underline">
								<svg class="w-6 h-6 opacity-80" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 4.01c-1 .49-1.98.689-3 .99-1.121-1.265-2.783-1.335-4.38-.737S11.977 6.323 12 8v1c-3.245.083-6.135-1.395-8-4 0 0-4.182 7.433 4 11-1.872 1.247-3.739 2.088-6 2 3.308 1.803 6.913 2.423 10.034 1.517 3.58-1.04 6.522-3.723 7.651-7.742a13.84 13.84 0 00.497-3.753C20.18 7.773 21.692 5.25 22 4.009v.001z"/>
								</svg>
								<span>@nmanumr</span>
							</a>
						</div>
						<div>
							<a href="#" class="inline-flex items-center space-x-4 underline">
								<svg class="w-6 h-6 opacity-80" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19c-4.3 1.4-4.3-2.5-6-3m12 5v-3.5c0-1 .1-1.4-.5-2 2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 00-1.3-3.2 4.2 4.2 0 00-.1-3.2s-1.1-.3-3.5 1.3a12.3 12.3 0 00-6.2 0C6.5 2.8 5.4 3.1 5.4 3.1a4.2 4.2 0 00-.1 3.2A4.6 4.6 0 004 9.5c0 4.6 2.7 5.7 5.5 6-.6.6-.6 1.2-.5 2V21"/>
								</svg>
								<span>@nmanumr</span>
							</a>
						</div>
						<div>
							<a href="#" class="inline-flex items-center space-x-4 underline">
								<svg class="w-6 h-6 opacity-80" fill="none" viewBox="0 0 24 24">
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 16a4 4 0 100-8 4 4 0 000 8z"/>
									<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12v1.5a2.5 2.5 0 105 0V12a9 9 0 10-5.5 8.28"/>
								</svg>
								<span>nmanumr@gmail.com</span>
							</a>
						</div>
					</div>
				</div>
				<form class="space-y-10" action="https://formspree.io/f/mjvjjwne" method="POST">
					<div class="flex flex-col">
						<label class="w-full">Name</label>
						<input placeholder="enter your name" type="text" name="name" required />
					</div>
					<div class="flex flex-col">
						<label class="w-full">Subject</label>
						<input placeholder="enter a subject" type="text" name="subject" required />
					</div>
					<div class="flex flex-col">
						<label class="w-full">Email Address</label>
						<input placeholder="enter your email address" type="email" name="_replyto" required />
					</div>
					<div class="flex flex-col">
						<label class="w-full">Message</label>
						<textarea style="min-height: 2.5rem;" placeholder="how can I help you today" rows="3" name="message" required></textarea>
					</div>
					<div>
						<button class="bg-gray-900 font-medium text-gray-100 rounded py-3 px-6 hover:bg-gray-700 transition duration-250">
							Send Message
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

</BaseLayout>
