---
import BaseLayout from './Base.astro';
import DevTag from '../components/DevTag.jsx';


const {content} = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
  <section class="py-16" id="expertise">
    <div class="container container-sm prose prose-sm sm:prose">
      <div class="mb-8">
        <div class="w-full flex-shrink-0 mb-10">
          <div class="aspect-w-16 aspect-h-9">
            <img class="object-cover rounded !m-0" src={content.image} />
          </div>
        </div>
        <h2 class="title">{content.title}</h2>
        <p class="text-sm subtitle">{content.subtitle}</p>
      </div>

      <slot />
    </div>
  </section>
</BaseLayout>
