---
import BaseLayout from "./Base.astro";

const { content } = Astro.props;
---

<BaseLayout title={content.title} description={content.description}>
  <section class="py-16" id="expertise">
    <div class="container-sm container prose prose-sm sm:prose">
      <div class="mb-8">
        {
          content.image && (
            <div class="mb-10 w-full shrink-0">
              <div class="aspect-w-16 aspect-h-9">
                <img class="!m-0 rounded object-cover" src={content.image} />
              </div>
            </div>
          )
        }

        <h2 class="title">{content.title}</h2>
        <p class="subtitle text-sm">{content.subtitle}</p>
      </div>

      <slot />
    </div>
  </section>
</BaseLayout>
